[Desktop Entry]
Name=globoesporte
Comment=webapp for globoesporte
Type=Application
Icon=globoesporte.png
Exec=webapp-container --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://m.globoesporte.com/* http://m.globoesporte.com %u
Terminal=false
X-Ubuntu-Touch=true

