[Desktop Entry]
Name=Globoesporte
Comment=webapp for globoesporte
Type=Application
Icon=globoesporte.png
Exec=./qtc_device_debughelper.py app "webapp-container --fullscren --store-session --enable-back-forward --store-session-cookies --webappUrlPatterns=https?://globoesporte.globo.com/* http://globoesporte.globo.com http://*.globoesporte.globo.com http://*.globoesporte.globo.com/* %u"
Terminal=false
X-Ubuntu-Touch=true
